// _variables.scss

// Colors
$primary-color: #084ea6;
$secondary-color: #f17716;
$gray-color: #f5f5f5;

// Font sizes
$heading-font: 3rem;
$subheading-font: 2.5rem;
$para-font: 1.6rem;

// Spacing
$section-gap: 5rem;
